//Colors
$bg-color: hsl(0, 0%, 85%);
$bg-color-light: hsl(0, 0%, 95%);
$bg-color-dark: hsl(206, 24%, 39%);

@import "general";
@import "sidebar";
@import "main-content";
@import "media-1";
@import "media-2";
